node-linker=hoisted
shamefully-hoist=true
strict-peer-dependencies=false
auto-install-peers=true
electron_mirror=https://npmmirror.com/mirrors/electron/
ELECTRON_BUILDER_BINARIES_MIRROR=https://npmmirror.com/mirrors/electron-builder-binaries/